body {
  background-color: #e6f0ff; /* azul claro */
  font-family: Arial, sans-serif;
  margin: 0z;
  padding: 30;
  text-align: center;
}

header {
  background-color: #3a81e6; /* azul cabeçalho */
  color: rgb(92, 9, 9);
  padding: 20px 0;
}

main {
  padding: 20px;
}

section {
  background-color: white;
  width: 600px;
  margin: 30px auto;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}

section img {
  width: 100%;
  height: auto;
  display: block;
  border-bottom: 1px solid #eee;
}

h1, h2 {
  margin: 15px 0 5px 0;
}

footer {
  margin: 30px 0 10px 0;
  font-size: 0.9em;
  color: #555;
}
